<div class="card-container">
    <a href="{{ "/project_detail/diego.html" | absolute_url }}">
        <div class="card">
            <div class="img-container" style="background-image: url({{"/assets/img/project-diego/main.jpg" | absolute_url}});">
            </div>
            <div class="description-container">
                <h3>Diego Rocha - Fotógrafo Aéreo</h3>
                <p>
                    OBS: Projeto ilustrativo para organizar a página.
                </p>
                <!-- <button class="btn">Ver mais</button> -->
            </div>
        </div>
    </a>
</div>