<section class="about">
    <h2>Sobre</h2>
    <p class="text">
        Oi!
    </p>
    <p class="text">
        Meu nome é Lander.
    </p> 
    <p class="text">
        Fique a vontade para conhecer meus <a href="{{"projects.html" | absolute_url}}">Projetos</a>, meu <a href="{{"index.html" | absolute_url}}">Blog</a> ou visitar o meu <a href="https://github.com/landercosta" target="_blank">github</a>.
    </p>
    <p class="text">
        Se quiser entrar em contato, pode mandar um email para <a href="mailto:landercosta@gmail.com">landercosta@gmail.com</a> 
            ou uma mensagem pelas redes sociais <a href="https://www.facebook.com/landeralcosta" target="_blank">facebook</a> 
            e <a href="https://www.linkedin.com/in/landercosta/" target="_blank">LinkedIn</a>.
    </p>  
    <p class="text">
        OBS: Essa página foi feita na intenção de servir como algo parecido com um diário para mim e para praticar programação web.
    </p>
</section>