<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page.description }}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="http://www.landercosta.com" />
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
    <meta property="og:image" content="{{ "/assets/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@landeralcosta">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
  <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
  {% else %}
  <meta property="twitter:image:src" content="{{ "/assets/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <link rel="icon" type="image/png" href="{{ "favicon-32x32.png" | absolute_url }}" sizes="32x32" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/reset.css" | absolute_url }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>